In [4]:
import pandas as pd

In [5]:

df_preventiva = pd.read_excel('PREVENTIVA.xlsx')
df_carreta = pd.read_excel('CARRETA.xlsx')
df_Esl = pd.read_excel('ESL.xlsx')
df_mobile = pd.read_excel('MOBILE.xlsx')
df_bipe = pd.read_excel('BIPE.xlsx')
df_bipe_de_notas = pd.read_excel("BIPE DE NOTAS.xlsx")

In [10]:
df_preventiva.columns

Index(['cidade_cliente', 'PEDIDO 1P/FULL'], dtype='object')

In [7]:
df_carreta.columns

Index(['PEDIDO', 'NF`s', 'ROMANEIO/ID', 'TRANSP / MOTO', 'CD/FILIAL ',
       'DATA_ROMANEIO', 'DATA ENTRADA', 'HORA', 'PREVISÃO ENTREGA', 'TIPO ',
       'PEDIDOS SISTEMA', 'CHAVE', 'OBS', 'UUID'],
      dtype='object')

In [12]:
df_carreta.columns = df_carreta.columns.str.strip()

In [13]:
df_carreta.head(2)

,PEDIDO,NF`s,ROMANEIO/ID,TRANSP / MOTO,CD/FILIAL,DATA_ROMANEIO,DATA ENTRADA,HORA,PREVISÃO ENTREGA,TIPO,PEDIDOS SISTEMA,CHAVE,OBS,UUID
0,1106521713,158581,114206587,7459091,1100,2025-10-31,2025-11-01,01:00:00,2025-11-01,Porta a Porta,NaN,52251047960950110733550070001585811061419842,NaN,c41b6316-569d-44f1-acd2-b5d7be570e63
1,1107281555,159005,114206587,7459091,1100,2025-10-31,2025-11-01,01:00:00,2025-11-01,Porta a Porta,NaN,52251047960950110733550070001590051071263336,NaN,60dd74af-a716-4cd8-b389-407e6a215b83

In [14]:
df_merge = pd.merge(df_preventiva, df_carreta[['PEDIDO', 'NF`s', 'CHAVE', 'PREVISÃO ENTREGA', 'TIPO']] , left_on='PEDIDO 1P/FULL', right_on='PEDIDO', how='left').drop(columns=['PEDIDO'])

In [15]:
df_merge

,cidade_cliente,PEDIDO 1P/FULL,NF`s,CHAVE,PREVISÃO ENTREGA,TIPO
0,GOIANIA,1123564893,287286.0,52251247960950110733550070002872861081230695,2025-12-18,Porta a Porta
1,GOIANIA,1123599834,287299.0,52251247960950110733550070002872991011896358,2025-12-18,Porta a Porta
2,GOIANIA,1123493300,287388.0,52251247960950110733550070002873881040835800,2025-12-18,Porta a Porta
3,GOIANIA,1116744823,271521.0,52251247960950110733550070002715211070853387,2025-12-12,Porta a Porta
4,GOIANIA,1123420028,287455.0,52251247960950110733550070002874551085018288,2025-12-18,Porta a Porta
...,...,...,...,...,...,...
184,GOIANIA,1118617002,260881.0,52251247960950110733550070002608811086512050,2025-12-08,Porta a Porta
185,AVELINOPOLIS,1119853806,260887.0,52251247960950110733550070002608871045463627,2025-12-08,Porta a Porta
186,GUAPO,1120034166,260900.0,52251247960950110733550070002609001026308003,2025-12-08,Porta a Porta
187,GOIANIA,1116507466,259438.0,52251247960950110733550070002594381039416877,2025-12-07,Porta a Porta
188,FORMOSA,1116469766,NaN,NaN,NaT,NaN